/* General rules */

/*
 * Beer color palette
 * http://www.colourlovers.com/palette/433353/frosty_mug_of_beer
 */

body {
	font-family: 'Comfortaa', sans-serif;
}

hr.style14 {
  width: 50%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Header */

.main-header {
	padding: 10px 0 10px 0;
  background-color: rgb(230,219,172);
}

.main-header-right-col {
	padding-top: 20px;
}

.brand-name > img {
  height: 80px;
  vertical-align: middle;
}

a.btn-main {
  color: rgb(230,219,172);
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(153,146,115);
  margin-left: 8px
}

a.btn-main:hover {
  background-color: #fff;
  color: rgb(153,146,115);
}

i.btn-nav {
  padding-top: 20%;
}

/* Hero banner */

.carousel-inner img {
	margin: auto;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
  transition: 0.6s ease;
}

.home-explorer {
	font-family: "Lilita One", cursive;
	position: absolute;
	z-index: 2;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 100px;
  letter-spacing: 1.5px;
}

.home-explorer > h1 {
	font-size: 55px;
	text-align: center;
}

.home-explorer > span {
	font-size: 22px;
	display: block;
	text-align: center;
}

.search-tool {
  font-family: 'Comfortaa', sans-serif;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
}

.form-control-personal {
  height: 80px;
}

input.form-control.form-control-personal {
  padding-left: 30px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  border: rgb(255, 255, 255);
}

.btn-default-personal {
  height: 80px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  border: rgb(255, 255, 255);
  padding: 0 30px 0 30px;
}

button.btn.btn-default.btn-default-personal {
  margin: 0;
}

button.btn.btn-danger.btn-review {
  padding: 20px;
  color: #fff;
}

div.modal-header {
  background-color: rgb(230,219,172);
  text-align: center;
}

div.modal-footer {
  background-color: transparent;
  text-align: center;
}

div.col-xs-2.text-center.ratings {
  width: 20%;
}

div.col-xs-12 > textarea.text {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: none;
  background-color: #F2F3F4;
  resize: none;
  border-radius: 4px;
  margin-top: 30px;
}

/* Reviews section */

.review-section h1 {
  font-family: "Lilita One", cursive;
  padding: 30px 0 30px 0;
  letter-spacing: 1.5px;
}

div.col-xs-4.review-card {
  padding-left: 0;
  padding-right: 0;
}

div.col-xs-4.review-card > h3 {
  margin: 30px 0 30px 0;
}

div.col-xs-4.review-card > div.row {
  margin-top: 30px;
}

div.col-xs-4.review-card > div.row > div.col-xs-6.user-img {
  text-align: right;
}

div.col-xs-4.review-card > div.row > div.col-xs-6.user-details {
  text-align: left;
}

div.col-xs-4.review-card > div.row > div.col-xs-6 > img {
  height: 50px;
  width: 50px;
  border: 1px solid lightgrey;
  border-radius:50%;
}

div.col-xs-4.review-card > div.user-feedback {
  height: 100px;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  overflow: hidden;
  margin-top: 30px;
  padding:0 80px 0 80px;
}

div.col-xs-4.review-card > a > img {
  width: 100%;
}

/* Brewers section */

.brewers-section h1 {
  font-family: "Lilita One", cursive;
  padding: 30px 0 30px 0;
  letter-spacing: 1.5px;
}

div.col-xs-4.brewer-img {
  padding-left: 0;
  padding-right: 0;
}

.brewer-img > img {
  width: 100%;
}

.brewer-img > a > h5 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: rgb(255,195,15);
  color: #000;
}

/* Distributors section */

.distributors-section h1 {
  font-family: "Lilita One", cursive;
  padding: 30px 0 30px 0;
  letter-spacing: 1.5px;
}

/* Bars and pubs section */

.pubs-section h1 {
  font-family: "Lilita One", cursive;
  padding: 30px 0 30px 0;
  letter-spacing: 1.5px;
}

/* Download the app section */

.download-section {
  padding: 30px 0 30px 0;
}

.download-section h1 {
  font-family: "Lilita One", cursive;
  letter-spacing: 1.5px;
}

.app-img {
  height: 75px;
  width: 230px;
}

/* Footer section */

.main-footer {
	padding: 50px 0 50px 0;
  background-color: rgb(153,146,115);
}

.main-footer .footer-links a {
  color: rgb(0,0,0);
}

.footer-fa {
	padding: 10px;
}


/* Sign in/sign up page */

.sign-btn {
  padding: 20px;
  width: 100%;
}

form.sign-form {
  border: 3px solid #f1f1f1;
  width: 80%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.sign-container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  float:left;
  /*background-color: #f44336;*/
}
