/* General rules */

body {
	font-family: 'Bubbler One', sans-serif;
  letter-spacing: 1.5px;
}

/* Header */

.main-header {
	padding: 10px 0 10px 0;
}

.main-header-right-col {
	padding-top: 20px;
}

a.brand-name {
	font-family: 'Lilita One', cursive;
	font-size: 50px;
}

/* Hero banner */

.carousel-inner img {
	width: 100%;
	margin: auto;
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}

.home-explorer {
	font-family: "Lilita One", cursive;
	position: absolute;
	z-index: 2;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 100px;
  letter-spacing: 1.5px;
}

.home-explorer > h1 {
	font-size: 55px;
	text-align: center;
}

.home-explorer > span {
	font-size: 22px;
	display: block;
	text-align: center;
}

.search-tool {
  font-family: 'Bubbler One', sans-serif;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
}

.form-control-personal {
  height: 80px;
}

input.form-control.form-control-personal {
  padding-left: 30px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  border: rgb(255, 255, 255);
}

.btn-default-personal {
  height: 80px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  border: rgb(255, 255, 255);
  padding: 0 30px 0 30px;
}

button.btn.btn-default.btn-default-personal {
  margin: 0;
}

/* Reviews section */
.review-section h1 {
  font-family: "Lilita One", cursive;
}

/* Download the app section */

.download-section {
  padding: 50px 0 50px 0;
}

.download-section h1 {
  font-family: "Lilita One", cursive;
}

.app-img {
  height: 75px;
  width: 230px;
}

/* Footer section */

.main-footer {
	background-color: lightgrey;
	padding: 50px 0 50px 0;
}

.footer-fa {
	padding: 10px;
}
